.star_wars__productos,
.consolas__productos,
.diversos__productos,
.productos_admin,
.producto_similares,
.productos_index{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.producto__card__imagen{
    height: 279px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.producto__card__imagen,
.producto__card__titulo,
.producto__card__precio{
    margin-bottom: .5rem;
}

.producto__card__titulo{
    color: #464646;
}

.producto__card__precio{
    font-weight: 800;
}

.producto__card__boton{
    color: #2A7AE4;
    font-weight: 800;
}

.productos__resultados_mensaje{
    height: 30vh;
    font-weight: 700;
    font-size: 2rem;
    color: #464646;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px){

    .productos__resultados_mensaje{
        height: 48vh;
    }

}