/*Definiendo propiedad general*/
*,
::before,
::after {
    box-sizing: border-box;
}

/*Definiendo variables genéricas*/
:root {
    /*Tipografía*/
    --font-family: 'Raleway', sans-serif;
    /*Color de fuente primaria*/
    --color-fuente-primaria: #464646;
    /*Color de fuente secundaria*/
    --color-fuente-secundario: #fdfdfd;
    /*Color fondo primario*/
    --color-fondo-primario: #f5f5f5;
    /*Color fondo secundario*/
    --color-fondo-secundario: #EAF2FD;
    /*Color primario boton*/
    --color-botones-primario: #2A7AE4;
    /*Color blanco*/
    --color-blanco: #ffffff;
    /*Color alerta primario*/
    --color-alerta-primario: #FF3C33;

}

/*Definiendo propiedad smooth-scroll, tipografía y color de fuente global*/
html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.container {
    width: 94%;
    margin: 0 auto;
}