.seccion-formulario {
    width: 100%;
    background-color: var(--color-fondo-primario);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-login__form {
    width: 45%;
}

.formulario-login__titulo {
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 1.5rem;
}

.input-message-error {
    display: none;
}

.formulario__boton-login {
    border-radius: 5px;
    padding: 1rem 2rem;
    color: var(--color-blanco);
    background-color: var(--color-botones-primario);
    font-weight: 500;
    border: none;
    font-size: 1rem;
    width: 100%;
}

.formulario__boton-login:hover {
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px) {

    .formulario-login__form {
        width: 70%;
    }

}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px) {

    .formulario-login__form {
        width: 70%;
    }

}